@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    transition: all 300ms linear !important;
}

:root {
    /* colors */
    --nav-items-color: #9003E5;
    --navbar-color: #D2DA60;
    --first_sec_btn_clr: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    --text-color: #8A3E74;
    --overflow_sec_num_color: #010080;
    --overflow_sec_back_color: #EEEEEE;
    --slider_sec_svg_back_color: #DCDCDC;
    --black_color: #000000;
    --back_opaque_color: #00000099;

    /* font-family */
    --fm: "Poppins", sans-serif;

    /* style */

    --font-style: italic;

    /* font weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* font-size */
    --fs-16: 16px;
    --fs-64: 64px;
    --fs-18: 18px;
    --fs-24: 24px;
    --fs-36: 36px;
    --fs-20: 20px;
    --fs-48: 48px;
    --fs-144: 144px;


    /* lh */
    --lh-54: 54px;
    --lh-30: 30px;
    --lh-72: 72px;
    --lh-96: 96px;
    --lh-36: 36px;
    --lh-27: 27px;
    --lh-216: 216px;
}

.fm {
    font-family: var(--fm);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-144 {
    font-size: var(--fs-144);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-216 {
    line-height: var(--lh-216);
}

.nav_item_color {
    color: var(--nav-items-color);
}

.nav_back_color {
    background-color: var(--navbar-color);
}

.first_sec_btn_color {
    background: var(--first_sec_btn_clr);
}

.light_text_color {
    color: var(--text-color);
}

.overflow_sec_num_color {
    color: var(--overflow_sec_num_color);
}

.overflow_sec_btn_color {
    background-color: var(--overflow_sec_num_color);
}

.over_sec_back_color {
    background-color: var(--overflow_sec_back_color);
}

.brdr-rad-4 {
    border-radius: 4px;
}

.gap-45 {
    gap: 45px;
}

.items {
    position: relative;
}

.max_width {
    max-width: 475px;
}

.py-11 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.px-34 {
    padding-right: 34px;
    padding-left: 34px;
}

.items::after {
    content: "";
    background-color: var(--nav-items-color);
    width: 0;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: all 300ms linear;
}

.items:hover::after {
    width: 100%;
    /* --webkit-text-stroke: thick !important; */
}

.back_img {
    background-image: url(../images/png/first_section_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gradient-button {
    position: relative;
    display: inline-block;
    color: transparent;
    /* font-size: 16px; */
    /* font-weight: bold; */
    background-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    -webkit-background-clip: text;
    background-clip: text;
    border: 4px solid;
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    border-image-slice: 1;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms linear;
}

.offcanvas-backdrop {
    background: unset;
    backdrop-filter: blur(50px);
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pr-134 {
    margin-right: 134px;
}

.pl-134 {
    margin-left: 134px;
}

.pb-42 {
    padding-bottom: 42px;
}

.pt-16 {
    padding-top: 16px;
}

p {
    margin: 0;
}

.pb-24 {
    padding-bottom: 24px;
}

.gradient-button:hover {
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    border-image-slice: 1;
}

.btn-close {
    width: 3em;
}

.py-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.px-45 {
    padding-right: 45px;
    padding-left: 45px;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.btn-close:hover {
    border: none !important;
    box-shadow: none !important;
}

.offcanvas-header {
    background-color: var(--navbar-color);
}

.offcanvas-backdrop.show {
    opacity: unset;
}

.offcanvas-body {
    background-color: var(--navbar-color);
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.right_0 {
    right: 0;
}

.adjust_pos {
    transform: translate(0, 200px);
}

.border-rad {
    border-radius: 50%;
}

.w_h {
    width: 215px;
    height: 215px;
}

.align_1 {
    top: 0;
    left: 0;
}

.align_3 {
    top: 0;
    left: 30%;
}

.align_5 {
    top: 0;
    left: 64%;
}

.align_7 {
    top: 0;
    left: 90%;
}

.align_2 {
    bottom: 0;
    left: 16%;
}

.align_4 {
    bottom: 0;
    left: 48%;
}

.align_6 {
    bottom: 0;
    left: 80%;
}

.w-140 {
    width: 140px;
}

.mt_value {
    margin-top: -20px;
}

.gap-6 {
    gap: 6px;
}

.alignment {
    left: 0;
    top: 0;
}

.align {
    right: 0;
    bottom: 10%;
}

.mb-60 {
    margin-bottom: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.brdr {
    border: 1px solid black;
}

.pb-34 {
    padding-bottom: 34px;
}

.min-vh-90 {
    min-height: 90vh;
}



.brdr_rad_40 {
    border-radius: 40px;
}




.brdr-rad {
    border-radius: 40px;
}



.back_color {
    background-color: var(--overflow_sec_back_color);
}

.changes_adjust {
    transform: translate(10px, -50%);
}

.changes_adjust_1 {
    transform: translate(0, -50%);
    right: 0;
}

.changes_adjust_2 {
    transform: translate(0, -50%);
    left: 0;
}


@media (max-width:2200px) {
    .changes_sec {
        min-width: 1800px;
        min-height: 465px;
    }
}

@media (min-width: 2200.9px) {
    .changes_sec {
        min-width: 2110px;
        min-height: 465px;
    }
}

@media (min-width: 1024px) {
    .transform {
        transform: translate(10px, -50%);
    }

    .changes_media_screen {
        background-color: var(--overflow_sec_back_color);
        border-radius: 40px;
        position: absolute;
        /* left: 0; */
    }

    .left-0 {
        left: 0%;
    }

    .right-0 {
        right: 0;
    }

    .transform {
        transform: translate(0, -50%);
    }
}

@media (min-width: 992px) {
    .pt-363px {
        padding-top: 363px;
    }

    /* .pb-237px {
        padding-bottom: 237px;
    } */

    .pb-237px {
        padding-bottom: 237px;
    }
}

@media (max-width: 992.9px) {
    .mb-24 {
        margin-bottom: 24px;
    }
}

@media (max-width: 1023.9px) {
    .d_min_md_none {
        display: none;
    }
}

@media (min-width: 992.9px) {
    .hor_lg_line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        border-bottom: 3px dotted var(--black_color);
    }

    .ver_lg_line {
        position: absolute;
        width: 3px;
        height: 100%;
        left: 31.5%;
        border-right: 3px dotted var(--black_color);
    }

    .ver_lg_line_2 {
        position: absolute;
        width: 3px;
        height: 100%;
        right: 33.2%;
        border-right: 3px dotted var(--black_color);
    }

    .mt-92 {
        margin-top: 92px;
    }

    .mt-82 {
        margin-top: 82px;
    }

    .mb-79 {
        margin-bottom: 79px;
    }

    .mb-92 {
        margin-bottom: 92px;
    }
}

@media (min-width: 992px) {
    .py-115 {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

@media (max-width: 1400px) {
    .fs_48 {
        font-size: var(--fs-48);
    }

    .fw_500 {
        font-weight: var(--fw-500);
    }

    .lh_54 {
        line-height: var(--lh-54);
    }

    .fs_24 {
        font-size: var(--fs-24);
    }

    .lh_30 {
        line-height: var(--lh-30);
    }

    .fw_400 {
        font-weight: var(--fw-400);
    }

    .fs_16 {
        font-size: var(--fs-16);
    }
}

@media (min-width: 1024.9px) {
    .d_md_none {
        display: none;
    }
}

@media (max-width: 1024px) {
    .gap-25 {
        gap: 25px;
    }

    .d_max_md_none {
        display: none;
    }
}

@media (min-width: 768px) {
    .py-54 {
        padding-top: 54px;
        padding-bottom: 53px;
    }

    .px-136 {
        padding-right: 136px;
        padding-left: 136px;
    }

    .pr-237px {
        padding-right: 237px;
    }


}

@media (max-width: 992px) and (min-width: 768px) {

    .hor_md_line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 33.5%;
        border-bottom: 3px dotted var(--black_color);
    }

    .ver_md_line {
        position: absolute;
        width: 3px;
        height: 100%;
        left: 50%;
        border-right: 3px dotted var(--black_color);
    }

    .Row>* {
        padding: 0;
    }

    .ver_md_line_2 {
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 31.5%;
        border-bottom: 3px dotted var(--black_color);
    }
}

@media (min-width: 1400.9px) {
    .text_wrap {
        text-wrap: nowrap;
    }
}

@media (max-width: 1400px) {
    .ts-md-20 {
        font-size: var(--fs-20);
    }

    .ts-md-16 {
        font-size: var(--fs-16);
    }
}

@media (max-width: 768px) {
    .d-max-md-none {
        display: none !important;
    }
}

@media (min-width: 768.9px) {
    .w-h-changes {
        min-width: 30px;
        min-height: 30px;
        background-color: var(--slider_sec_svg_back_color);
        border-radius: 50%;
    }

    .opa_0 {
        opacity: 0;
    }

    .item:hover {
        .opa_1 {
            opacity: 1;
        }

        transition: all 300ms linear;
    }

    .item {
        position: relative;
    }

    .item:hover::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border: 5px solid;
        width: 95%;
        height: 95%;
        border-image: var(--first_sec_btn_clr);
        border-image-slice: 1;
    }

    .back-img {
        background: var(--back_opaque_color);
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .ts_max-md {
        font-size: var(--fs-16);
    }
}