/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-transition: all 300ms linear !important;
    -o-transition: all 300ms linear !important;
    transition: all 300ms linear !important;
    padding: 0;
    margin: 0;
}

:root {
    /* colors */
    --nav-items-color: #9003E5;
    --navbar-color: #D2DA60;
    --first_sec_btn_clr: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    --text-color: #8A3E74;
    --overflow_sec_num_color: #010080;
    --overflow_sec_back_color: #EEEEEE;
    --slider_sec_svg_back_color: #DCDCDC;
    --black_color: #000000;
    --white_color: #FFFFFF;
    --back_opaque_color: #00000099;
    --footer_item_clr: #444444;

    /* font-family */
    --fm: "Poppins", sans-serif;

    /* style */

    --font-style: italic;

    /* font weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;

    /* font-size */
    --fs-16: 16px;
    --fs-64: 64px;
    --fs-80: 80px;
    --fs-18: 18px;
    --fs-70: 70px;
    --fs-24: 24px;
    --fs-36: 36px;
    --fs-20: 20px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-144: 144px;


    /* lh */
    --lh-54: 54px;
    --lh-30: 30px;
    --lh-72: 72px;
    --lh-96: 96px;
    --lh-36: 36px;
    --lh-27: 27px;
    --lh-216: 216px;
}

.fm {
    font-family: var(--fm);
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fs-16 {
    font-size: var(--fs-16);
}

.footer_color {
    background-color: var(--black_color);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-144 {
    font-size: var(--fs-144);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-30 {
    line-height: var(--lh-30);
}

.sub_btn_color {
    background-color: var(--overflow_sec_num_color);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-216 {
    line-height: var(--lh-216);
}

.nav_item_color {
    color: var(--nav-items-color);
}

.nav_back_color {
    background-color: var(--navbar-color);
}

.news_back_color {
    background-color: var(--overflow_sec_back_color);
}

.outline_none {
    outline: none;
}

.first_sec_btn_color {
    background: var(--first_sec_btn_clr);
}

.light_text_color {
    color: var(--text-color);
}

.overflow_sec_num_color {
    color: var(--overflow_sec_num_color);
}

.overflow_sec_btn_color {
    background-color: var(--overflow_sec_num_color);
}

.brdr-rad-22 {
    border-radius: 22px;
}

.bottom-10 {
    bottom: 20px;
}

.back_color_change {
    background-color: var(--overflow_sec_num_color);
}

.over_sec_back_color {
    background-color: var(--overflow_sec_back_color);
}

.opa_0 {
    opacity: 0;
}

.hover_item:hover.opa_1 {
    opacity: 1;
}

.items_hov:hover {
    .d_none {
        display: none !important;
    }

    cursor: pointer;
}

.hover_items::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--white_color);
    width: 0;
    height: 3px;
}

.hover_items:hover::after {
    width: 100%;
}

.hover_items {
    cursor: pointer;
}

.pt-21 {
    padding-top: 21px;
}

.ROW {
    margin: 0;
}

.trnsfrm {
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.mx_w_290 {
    max-width: 290px;
}

.d_none {
    display: none;
}

.news {
    background: -webkit-gradient(linear, left top, right top, from(#9104E5), color-stop(96.47%, #F93B96));
    background: -o-linear-gradient(left, #9104E5 0%, #F93B96 96.47%);
    background: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.pos_adjustment {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 0%;
    left: 50%;
}

.brdr_rad_45 {
    border-radius: 45px;
}

.pl-40 {
    padding-left: 40px;
}

.py-140 {
    padding-top: 140px;
    padding-bottom: 140px;
}

.w_h_fixing {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: var(--footer_item_clr);
}

.pb-223 {
    padding-bottom: 223px;
}

.px-200 {
    padding-right: 200px;
    padding-left: 200px;
}

.footer_items {
    position: relative;
}

.mt-60 {
    margin-top: 60px;
}

.footer_items::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    height: 2px;
    left: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#9104E5), color-stop(96.47%, #F93B96));
    background-image: -o-linear-gradient(left, #9104E5 0%, #F93B96 96.47%);
    background-image: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.white_line {
    width: 100%;
    background: white;
    height: 3px;
}

.footer_items:hover.footer_items::before {
    width: 100%;
}

.pt-80 {
    padding-top: 80px;
}

.pt-24 {
    padding-top: 24px;
}

.hover_effect:hover {
    background-color: white;
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.hover_effect:hover svg path {
    fill: var(--overflow_sec_num_color);
}

.pt-14 {
    padding-top: 14px;
}

.pb-14 {
    padding-bottom: 14px;
}



.background_color {
    background-color: var(--overflow_sec_num_color);
}

.pb-115 {
    padding-bottom: 115px;
}

.pt-115 {
    padding-top: 115px;
}

.w-90 {
    width: 90%;
}

.brdr-rad-4 {
    border-radius: 4px;
}

.back-img-color {
    background-color: var(--overflow_sec_num_color);
    border-radius: 24px;
}

.gap-45 {
    gap: 45px;
}

.items {
    position: relative;
}

.max_width {
    max-width: 475px;
}

.py-11 {
    padding-top: 11px;
    padding-bottom: 11px;
}

.px-34 {
    padding-right: 34px;
    padding-left: 34px;
}

.items::after {
    content: "";
    background-color: var(--nav-items-color);
    width: 0;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.items:hover {
    -webkit-text-stroke: medium;
}

.cursor {
    cursor: pointer !important;
}

.items:hover::after {
    width: 100%;
    /* --webkit-text-stroke: thick !important; */
}

.back_img {
    background-image: url(../images/png/first_section_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gradient-button {
    position: relative;
    display: inline-block;
    color: transparent;
    /* font-size: 16px; */
    /* font-weight: bold; */
    background-image: -o-linear-gradient(359.56deg, #9003E5 2.42%, #F93B95 99.69%);
    background-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    -webkit-background-clip: text;
    background-clip: text;
    border: 4px solid;
    -o-border-image: -o-linear-gradient(359.56deg, #9003E5 2.42%, #F93B95 99.69%);
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    border-image-slice: 1;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.gradient-button:hover {
    background: var(--first_sec_btn_clr);
    color: var(--white_color);
}

.offcanvas-backdrop {
    background: unset;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pr-134 {
    margin-right: 134px;
}

.pl-134 {
    margin-left: 134px;
}

.pb-42 {
    padding-bottom: 42px;
}

.pt-16 {
    padding-top: 16px;
}

p {
    margin: 0;
}

.pb-24 {
    padding-bottom: 24px;
}

.gradient-button:hover {
    -o-border-image: -o-linear-gradient(359.56deg, #9003E5 2.42%, #F93B95 99.69%);
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%);
    border-image-slice: 1;
}

.btn-close {
    width: 3em;
}

.py-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.px-45 {
    padding-right: 45px;
    padding-left: 45px;
}

.navbar {
    padding: 0 !important;
}

.navbar-toggler:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.btn-close:hover {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.offcanvas-header {
    background-color: var(--navbar-color);
}

.offcanvas-backdrop.show {
    opacity: unset;
}

.offcanvas-body {
    background-color: var(--navbar-color);
}

.my-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.right_0 {
    right: 0;
}

.adjust_pos {
    -webkit-transform: translate(0, 200px);
    -ms-transform: translate(0, 200px);
    transform: translate(0, 200px);
}

.border-rad {
    border-radius: 50%;
}

.w_h {
    width: 215px;
    height: 215px;
}

.align_1 {
    top: 0;
    left: 0;
}

.align_3 {
    top: 0;
    left: 30%;
}

.align_5 {
    top: 0;
    left: 64%;
}

.align_7 {
    top: 0;
    left: 90%;
}

.align_2 {
    bottom: 0;
    left: 16%;
}

.align_4 {
    bottom: 0;
    left: 48%;
}

.align_6 {
    bottom: 0;
    left: 80%;
}

.w-140 {
    width: 140px;
}

.mt_value {
    margin-top: -20px;
}

.gap-6 {
    gap: 6px;
}

.alignment {
    left: 0;
    top: 0;
}

.align {
    right: 0;
    bottom: 10%;
}

.mb-60 {
    margin-bottom: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.brdr {
    border: 1px solid black;
}

.pb-34 {
    padding-bottom: 34px;
}

/* .mt-225 {
    margin-top: 225px;
} */

.min-vh-90 {
    min-height: 90vh;
}

.brdr_rad_40 {
    border-radius: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.name::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    background-color: var(--overflow_sec_num_color);
}

.name {
    cursor: pointer;
}


.name:hover::after {
    width: 100%;
}

.footer_items:hover {
    -webkit-text-stroke: medium;
    /* color: var(--overflow_sec_num_color); */
}

/* scrolllbar */


#our_services {
    overflow: scroll;
    /* or auto */
    scrollbar-width: none;
    /* For Firefox */
}

body {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.item-hover:hover {
    background: var(--first_sec_btn_clr);
}

body::-webkit-scrollbar {
    display: none;
}

.brdr-rad {
    border-radius: 40px;
}

.back_color {
    background-color: var(--overflow_sec_back_color);
}

.changes_adjust {
    -webkit-transform: translate(10px, -50%);
    -ms-transform: translate(10px, -50%);
    transform: translate(10px, -50%);
}

.w-h-adjust {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--overflow_sec_num_color);
}

.changes_adjust_1 {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
}

.changes_adjust_2 {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
}

.py-115 {
    padding-top: 115px;
    padding-bottom: 115px;
}

@media (max-width: 1439.9px) {
    .col-max-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .w_h_100 {
        width: 100%;
        height: 100%;
    }

    .py_3 {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media (max-width: 992px) {
    .col-max-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .fs_70 {
        font-size: var(--fs-70);
    }

    .px_50 {
        padding-right: 50px;
        padding-left: 50px;
    }

    .py-80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py_2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .px_2 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .fs_16 {
        font-size: var(--fs-16);
    }

    .flex_col_rev {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}

@media (max-width: 768px) {
    .fs_48 {
        font-size: var(--fs-48);
    }

    .px-50 {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .py-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pl-20 {
        padding-left: 20px;
    }
}

@media (max-width: 576px) {

    .py-20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .px-20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .fs_40 {
        font-size: var(--fs-40);
    }

    .flex_wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .col-max-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 768px) {
    .col-max-md-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 1440px) {
    .transform_img {
        top: 0;
    }

    .transform_img_1 {
        left: 15%;
        z-index: 2;
        -webkit-transform: translate(10px, 25%);
        -ms-transform: translate(10px, 25%);
        transform: translate(10px, 25%);
    }

    .transform_img_2 {
        top: 0;
        left: 42%;
    }

    .transform_img_3 {
        -webkit-transform: translate(10px, 25%);
        -ms-transform: translate(10px, 25%);
        transform: translate(10px, 25%);
        right: 3%;
    }

    .position_relative {
        position: relative;
    }

    .position_absolute {
        position: absolute;
    }

    .min_vh_100 {
        min-height: 100vh;
    }

    .mx_w_200 {
        max-width: 200px;
    }
}


@media (min-width: 1440px) {
    .w::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 75%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/png/red_line.png);
    }

    .w_1::after {
        content: "";
        position: absolute;
        left: 50%;
        top: -65%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/png/red_line_2.png);
    }

    .w_2::after {
        content: "";
        position: absolute;
        left: 50%;
        top: -65%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/png/red_line_2.png);
    }

    .w_3::after {
        content: "";
        position: absolute;
        left: 50%;
        top: -50%;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/png/red_line_2.png);
    }

    .flex_item_prop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /* justify-content: center; */
    }

    .pb-330 {
        padding-bottom: 330px;
    }

    .w_2 {
        bottom: -100%;
    }

    .w_3 {
        bottom: -100%;
    }

    .w_1 {
        bottom: -100%;
    }

    .col_lg_2 {
        width: 14.28%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .text-bottom {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
        text-align: center;
        bottom: 0;
        /* color: white; */
    }

    .text-top {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        text-align: center;
        top: 0;
    }

    .max-h {
        max-height: 85vh;
    }

    .mx-h {
        max-height: 100vh;
    }

    .pb-700 {
        padding-bottom: 700px;
    }
}


@media (max-width:2200px) {
    .changes_sec {
        min-width: 1800px;
        min-height: 325px;
    }
}

@media (max-width: 1439.9px) {
    .col_6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .disp_prop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .flex_properties {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .pb-19 {
        padding-bottom: 19px;
    }

    .py_20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .pb_115_max_1440 {
        padding-bottom: 115px;
    }
}

@media (max-width: 768px) {
    .w_max_100 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 2200.9px) {
    .changes_sec {
        min-width: 2110px;
        min-height: 325px;
    }
}

@media (min-width: 1024px) {
    .transform {
        -webkit-transform: translate(10px, -50%);
        -ms-transform: translate(10px, -50%);
        transform: translate(10px, -50%);
    }

    .changes_media_screen {
        background-color: var(--overflow_sec_back_color);
        border-radius: 40px;
        position: absolute;
        /* left: 0; */
    }

    .left-0 {
        left: 0%;
    }

    .right-0 {
        right: 0;
    }

    .transform {
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .py_115 {
        /* padding-top: 115px; */
        padding-bottom: 115px;
    }
}

@media (min-width: 992px) {
    .pt-363px {
        padding-top: 363px;
    }

    /* .pb-237px {
        padding-bottom: 237px;
    } */

    .pb-237px {
        padding-bottom: 237px;
    }

    .mt-225 {
        margin-top: 225px;
    }
}

@media (max-width: 992.9px) {
    .mb-24 {
        margin-bottom: 24px;
    }

    .mb_115 {
        margin-bottom: 115px;
    }

    .mb-115 {
        margin-bottom: 115px;
    }
}

@media (max-width: 1023.9px) {
    .d_min_md_none {
        display: none;
    }

    .back_color_max_lg {
        background-color: var(--overflow_sec_back_color);
    }
}

@media (min-width: 992.9px) {
    .hor_lg_line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        border-bottom: 3px dotted var(--black_color);
    }

    .ver_lg_line {
        position: absolute;
        width: 3px;
        height: 100%;
        left: 31.5%;
        border-right: 3px dotted var(--black_color);
    }

    .ver_lg_line_2 {
        position: absolute;
        width: 3px;
        height: 100%;
        right: 33.2%;
        border-right: 3px dotted var(--black_color);
    }

    .mt-92 {
        margin-top: 92px;
    }

    .mt-82 {
        margin-top: 82px;
    }

    .mb-79 {
        margin-bottom: 79px;
    }

    .mb-92 {
        margin-bottom: 92px;
    }



}

/* @media (min-width: 992px) { */


/* } */

@media (max-width: 1400px) {
    .fs_48 {
        font-size: var(--fs-48);
    }

    .fw_500 {
        font-weight: var(--fw-500);
    }

    .lh_54 {
        line-height: var(--lh-54);
    }

    .fs_24 {
        font-size: var(--fs-24);
    }

    .lh_30 {
        line-height: var(--lh-30);
    }

    .fw_400 {
        font-weight: var(--fw-400);
    }

    .fs_16 {
        font-size: var(--fs-16);
    }
}

@media (min-width: 1024.9px) {
    .d_md_none {
        display: none;
    }
}

@media (max-width: 1024px) {
    .gap-25 {
        gap: 25px;
    }

    .d_max_md_none {
        display: none;
    }
}

@media (min-width: 768px) {
    .py-54 {
        padding-top: 54px;
        padding-bottom: 53px;
    }

    .px-136 {
        padding-right: 136px;
        padding-left: 136px;
    }

    .pr-237px {
        padding-right: 237px;
    }


}

@media (max-width: 992px) and (min-width: 768px) {

    .hor_md_line {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 33.5%;
        border-bottom: 3px dotted var(--black_color);
    }

    .ver_md_line {
        position: absolute;
        width: 3px;
        height: 100%;
        left: 50%;
        border-right: 3px dotted var(--black_color);
    }

    .Row>* {
        padding: 0;
    }

    .ver_md_line_2 {
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 31.5%;
        border-bottom: 3px dotted var(--black_color);
    }
}

@media (min-width: 1400.9px) {
    .text_wrap {
        text-wrap: nowrap;
    }

    .align_items {
        position: relative;
        /* transform: translateY(25%); */
    }
}

@media (max-width: 1400px) {
    .ts-md-20 {
        font-size: var(--fs-20);
    }

    .ts-md-16 {
        font-size: var(--fs-16);
    }

    .prop_media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .d-max-md-none {
        display: none !important;
    }
}

@media (min-width: 768.9px) {
    .w-h-changes {
        min-width: 30px;
        min-height: 30px;
        background-color: var(--slider_sec_svg_back_color);
        border-radius: 50%;
    }

    .opa_0 {
        opacity: 0;
    }

    .item:hover {
        .opa_1 {
            opacity: 1;
        }

        -webkit-transition: all 300ms linear;

        -o-transition: all 300ms linear;

        transition: all 300ms linear;
    }

    .item {
        position: relative;
    }

    .item:hover::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 2;
        border: 5px solid;
        width: 95%;
        height: 95%;
        -o-border-image: var(--first_sec_btn_clr);
        border-image: var(--first_sec_btn_clr);
        border-image-slice: 1;
    }

    .back-img {
        background: var(--back_opaque_color);
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .ts_max-md {
        font-size: var(--fs-16);
    }
}